@using WebEditor.ViewModels;
@model IEnumerable<ConfigurationListItemViewModel>
@{
    ViewData["Title"] = "Configurations";
}

<div>
    <div class="mb-4">
        <a asp-action="Add" asp-controller="Configuration" class="btn btn-success">
            Add New Configuration
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Application</th>
                <th scope="col">State</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @item.ApplicationName
                    </td>
                    <td>
                        @(item.IsActive ? "Active" : "Passive")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Configuration" asp-route-configId="@item.Id" class="btn btn-primary">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
