@using WebEditor.ViewModels;
@model IEnumerable<ConfigurationListItemViewModel>
@{
    ViewData["Title"] = "Configurations";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Application</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @item.ApplicationName
                    </td>
                    <td>
                        <a asp-action="GetEdit" asp-controller="Configuration" asp-route-configId="@item.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
